* {
  padding: 0;
  margin: 0;
}

/* Header and Navbar */
#header {
  background-image: url(img/banner.jpg);
  height: 80vh;
  background-size: cover;
  background-position: center;
}

#header ul li > a {
  text-transform: uppercase;
}

.navbar-nav li > a {
  float: right;
  color: #fff !important;
}

.logo {
  max-width: 200px;
  margin-left: 30px;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
}

.navbar-toggler .fas {
  color: #fff;
  font-size: 36px;
}

/* Welcome Text */
.welcome {
  padding: 50px 100px;
  background-color: #fff;
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.5);
  margin-top: -140px;
  border-radius: 10px;
}

.welcome h1 {
  color: #333;
}

.home-btn {
  margin-top: 10px;
  padding: 10px 30px;
  color: #fff;
  background-color: #0668ca;
  border-radius: 30px;
}

.home-btn:hover {
  color: #fff;
  background-color: #03509c;
}

.welcome .btn:focus {
  box-shadow: none;
}

/* About */
#about {
 padding: 100px 0 100px 0;
}

.run-img {
  height: 500px;
}

#about h3 {
  margin: 20px auto;
}

#about p {
  text-align: justify;
}

.yoga {
  margin-top: 20px;
}

.yoga-video {
  margin-top: 50px;
}